/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
 License: none (public domain)
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #f6f6f4;
  color: #505050;
  min-width: 960px;
}
body,
input,
textarea,
td,
th {
  font-family: Gentium Book Basic, Palatino, serif;
  font-weight: 400;
  font-size: 11pt;
  line-height: 1.5;
}
html,
body {
  height: 100%;
}
.main-nav .fb {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 100px 0;
  border-bottom: solid 1px #ddd;
}
.page > div {
  width: 900px;
  margin: 0 auto;
}
.page .headline {
  font-size: 32pt;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  letter-spacing: -2px;
  color: #707090;
}
.page .headline em {
  display: none;
}
.page h3,
.page blockquote,
.page p,
.page ul,
.page li {
  margin: 20px 0;
}
.page blockquote > p {
  margin: 0;
}
.page .info {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  font-size: 1.2em;
}
.action a {
  color: #fff;
  background: #c42;
  text-decoration: none;
  padding: 5px 30px;
  display: inline-block;
  font-family: oswald, sans-serif;
  text-transform: uppercase;
  font-size: 12pt;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 1px 0 rgba(0,0,0,0.30);
  line-height: 1.5;
}
.action a:hover,
.title .action a {
  background-color: #e04b25;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e04b25), color-stop(1, #b83d1f));
  background: -webkit-linear-gradient(top, #e04b25 0%, #b83d1f 100%);
  background: -moz-linear-gradient(top, #e04b25 0%, #b83d1f 100%);
  background: -o-linear-gradient(top, #e04b25 0%, #b83d1f 100%);
  background: -ms-linear-gradient(top, #e04b25 0%, #b83d1f 100%);
  background: linear-gradient(top, #e04b25 0%, #b83d1f 100%);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.20), inset 0 -1px 0 rgba(0,0,0,0.10);
  box-shadow: 0 2px 5px rgba(0,0,0,0.20), inset 0 -1px 0 rgba(0,0,0,0.10);
}
.action a:active {
  background: #222;
}
.action a:after {
  content: "\25b6";
  font-size: 0.7em;
  margin-left: 7px;
  opacity: 0.65 ;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65) ;
  filter: alpha(opacity=65) ;
  position: relative;
  top: -3px;
}
.action span.inset {
  padding: 6px;
  background: rgba(0,0,0,0.10);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.20), 1px 1px 0 rgba(255,255,255,0.03);
  box-shadow: inset 1px 1px 0 rgba(0,0,0,0.20), 1px 1px 0 rgba(255,255,255,0.03);
}
.action span.inset a {
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.40), inset 0 -1px 0 rgba(0,0,0,0.10);
  box-shadow: 0 2px 10px rgba(0,0,0,0.40), inset 0 -1px 0 rgba(0,0,0,0.10);
}
section.intro {
  background-color: #212121;
  background-image: url("dark_wall.png");
  background-attachment: fixed;
}
.page.title {
  text-shadow: 0 2px 0 rgba(0,0,0,0.20), 0 1px 0 rgba(0,0,0,0.10);
  color: #aaa;
  border-bottom: 0;
  padding: 200px 0;
}
.page.title > div {
  width: 700px;
  overflow: hidden;
}
.page.title h1.headline,
.page.title p {
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.page.title h1.headline {
  color: #fff;
  font-size: 36pt;
  line-height: 1.2;
  padding-right: 20px;
  padding-top: 11px;
  text-align: right;
}
.page.title p {
  padding-left: 20px;
  font-size: 1.2em;
}
.page.title p.tagline {
  overflow: hidden;
  font-style: italic;
}
.page.title p.tagline:first-line {
  color: #eee;
  font-size: 1.1em;
}
.page.title p.tagline:first-letter {
  font-size: 3.2em;
  display: inline-block;
  float: left;
  line-height: 0.8em;
  margin-right: 7px;
  font-style: normal;
  margin-top: 2px;
  margin-left: -8px;
}
.page.title p.action {
  width: 100%;
  clear: both;
  text-align: center;
}
.page.title p.action a {
  font-size: 1.4em;
  padding: 8px 50px;
}
.page.understand {
  background: rgba(0,0,0,0.20);
  color: #aaa;
  text-shadow: 0 1px 0 rgba(0,0,0,0.20);
  -webkit-box-shadow: inset 0 -10px 15px -15px rgba(0,0,0,0.50);
  box-shadow: inset 0 -10px 15px -15px rgba(0,0,0,0.50);
}
.page.understand .headline {
  font-size: 20pt;
  color: #ddd;
  display: none;
}
.page.understand a {
  color: #666;
  text-decoration: none;
}
.page.understand a:hover {
  color: #c42;
}
.page.understand .info {
  font-size: 1.9em;
  line-height: 1.3;
}
.page.understand .info strong {
  color: #fff;
  display: block;
  font-weight: bold;
  font-size: 1.4em;
  font-family: Montserrat, sans-serif;
  letter-spacing: -2px;
  margin-bottom: 3px;
}
.page.understand li > a:first-child {
  font-weight: bold;
  display: block;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 1.4em;
  color: #c42;
}
.page.understand li > a:first-child:hover {
  color: #ff5f30;
}
.page.understand ul {
  margin-top: 40px;
  overflow: hidden;
}
.page.understand li:nth-child(4) {
  clear: both;
}
.page.understand li {
  margin-top: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  text-align: center;
  float: left;
  width: 33%;
  padding: 0 25px;
}
.page.email {
  background: #e8e8e5;
  text-shadow: 0 1px 0 rgba(255,255,255,0.50);
  padding-bottom: 0;
  overflow: hidden;
}
.page.email .headline {
  color: #4bd;
}
.page.email .info {
  margin-top: -10px;
  font-family: Palatino, serif;
}
.page.email .letter {
  width: 500px;
  margin: 40px auto 0 auto;
  padding: 40px 80px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.20), 10px 5px 0 -4px #fff, 10px 5px 10px -4px rgba(0,0,0,0.10);
  box-shadow: 0 0 10px rgba(0,0,0,0.20), 10px 5px 0 -4px #fff, 10px 5px 10px -4px rgba(0,0,0,0.10);
  font-family: Shanti, sans-serif;
  color: #707080;
  text-shadow: 0 1px 0 rgba(255,255,255,0.10);
}
.page.email .letter strong {
  font-weight: bold;
  font-family: Gentium Book Basic, Palatino, serif;
  font-size: 1.2em;
}
.page.email .letter .action {
  margin-top: 60px;
  text-align: center;
}
.page.phone {
  text-align: left;
}
.page.phone .info {
  margin-top: -10px;
  font-family: Palatino, serif;
  padding-bottom: 40px;
}
.page.phone blockquote {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 40px 20px 50px;
  background: #e6e6e6;
  border-left: solid 1px #ccc;
  border-top: solid 1px #ccc;
  width: 48%;
  float: left;
  margin: 0 30px 20px 0;
  font-family: Shanti, sans-serif;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #707080;
  text-shadow: 0 1px 0 rgba(255,255,255,0.60);
  position: relative;
}
.page.phone blockquote p:first-line {
  font-weight: bold;
  letter-spacing: -1px;
  color: #383840;
}
.page.phone blockquote:before {
  content: "\201c";
  display: block;
  font-size: 36pt;
  font-family: Gentium Book Basic, Palatino, serif;
  height: 20px;
  line-height: 20px;
  width: 30px;
  text-align: left;
  float: left;
  margin: 10px 0 0 -30px;
  opacity: 0.5 ;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
}
.page.phone blockquote.en {
  display: none;
}
.page.phone h3 {
  font-size: 1.2em;
  margin: 0 0 -16px 0;
  font-weight: bold;
  color: #222;
  color: #c42;
}
.page.phone section.sub {
  overflow: hidden;
  padding: 20px 0;
  border-top: solid 1px #ddd;
}
.page.phone .sub.follow-up {
  text-align: center;
  font-size: 1.1em;
}
.page.phone .sub.follow-up h3 {
  font-size: 1.4em;
  margin-bottom: -15px;
}
.page.phone .sub.follow-up .action {
  margin-top: 30px;
}
.page.write {
  background: #e8e8e5;
  text-shadow: 0 1px 0 rgba(255,255,255,0.60);
}
.page.write .map {
  overflow: hidden;
  text-align: right;
  font-size: 1.1em;
}
.page.write h2.headline {
  font-size: 26pt;
  text-align: right;
  color: #4bd;
}
.page.write .map iframe {
  float: right;
  margin-left: 50px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.20);
  box-shadow: 0 0 10px rgba(0,0,0,0.20);
  border: solid 10px #fff;
}
.page.senators {
  padding: 20px 0;
}
.senators .list {
  overflow: hidden;
}
article.senator {
  float: left;
  width: 45%;
  margin: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article.senator .card {
  border: solid 2px #fcfcfc;
  background: #fff;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.20);
  box-shadow: 0 0 5px rgba(0,0,0,0.20);
}
article.senator label,
article.senator ul {
  font-family: sans-serif;
}
article.senator hgroup {
  padding: 20px 30px;
  padding-right: 140px;
  position: relative;
}
article.senator h2 {
  font-family: Oswald, sans-serif;
  font-size: 2em;
  line-height: 1.3;
  font-weight: bold;
  text-align: left;
  color: #707080;
}
article.senator .section {
  -webkit-box-shadow: inset 0 -8px 6px -6px rgba(0,0,0,0.05);
  box-shadow: inset 0 -8px 6px -6px rgba(0,0,0,0.05);
}
article.senator .section {
  padding: 20px;
  padding-right: 60px;
  border-top: dotted 1px #e7e7e7;
  overflow: hidden;
}
article.senator .section:nth-child(odd) {
  background: #fafafa;
}
article.senator .section > label {
  width: 80px;
  float: right;
  margin-right: -40px;
  text-align: right;
  font-family: Shanti, sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 0.9em;
  line-height: 1.4;
  color: #a0a0b0;
}
article.senator .section-online > label {
  display: none;
}
article.senator ul {
  margin: 0;
  padding: 0;
  font-size: 0.85em;
  font-family: Shanti, sans-serif;
  text-shadow: 0 1px 0 rgba(255,255,255,0.60);
}
article.senator li {
  margin: 0;
  padding-left: 24px;
  min-height: 24px;
}
article.senator a,
article.senator a:visited {
  color: #3da8c7;
  text-decoration: none;
  display: block;
  padding: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
article.senator a:hover {
  color: #1b4b58;
}
article.senator .pre:before {
  content: "";
  color: #ccc;
  margin-right: 10px;
  font-size: 0.9em;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: -24px;
  position: relative;
  top: 3px;
}
article.senator small {
  color: #999;
  font-size: 0.8em;
  background: #eee;
  padding: 1px 5px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px #e3e3e3;
  box-shadow: 1px 1px #e3e3e3;
  margin-left: 3px;
}
article.senator .twitter:before {
  background: url("twitter.png");
}
article.senator .email:before {
  background: url("email.png");
}
article.senator .facebook:before {
  background: url("facebook.png");
}
article.senator .site:before {
  background: url("link.png");
}
article.senator .youtube:before {
  background: url("youtube.png");
}
.avatar {
  position: relative;
}
.avatar p,
.avatar img {
  width: 110px;
  overflow: hidden;
  -webkit-border-radius: 55px;
  border-radius: 55px;
  background: #fff;
}
.avatar p {
  height: 110px;
  margin: 0;
  padding: 0;
}
.avatar p:after {
  width: 112px;
  height: 112px;
  -webkit-border-radius: 56px;
  border-radius: 56px;
  position: absolute;
  top: -1px;
  left: -1px;
  display: block;
  content: "";
  background: radial-gradient(45px 45px 45deg, circle cover, rgba(0,0,0,0.00) 50%, rgba(0,0,0,0.80));
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 4px #fff;
  -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.20), 0 0 14px rgba(0,0,0,0.20);
  box-shadow: 1px 1px 0 rgba(0,0,0,0.20), 0 0 14px rgba(0,0,0,0.20);
}
.senator .avatar {
  position: absolute;
  right: 20px;
  bottom: -55px;
  z-index: 5;
}

