body {
  background: #f6f6f4;
  color: #505050;
}
body,
input,
textarea,
td,
th {
  font-family: Droid Sans, sans-serif;
  font-weight: 400;
  font-size: 11pt;
  line-height: 1.5;
}
html,
body {
  height: 100%;
}
.page:nth-child(odd) {
  background: #d3d3d0;
}
.page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 100px 0;
  border-bottom: solid 1px #ddd;
}
.page > div {
  width: 900px;
  margin: 0 auto;
}
.page .headline {
  font-size: 32pt;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  letter-spacing: -2px;
  color: #707090;
}
.page .headline em {
  display: none;
}
.page h3,
.page blockquote,
.page p,
.page ul,
.page li {
  margin: 20px 0;
}
.page blockquote > p {
  margin: 0;
}
.page.email {
  padding-bottom: 0;
  overflow: hidden;
}
.page.email .info {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  font-size: 1.1em;
}
.page.email .letter {
  width: 500px;
  margin: 40px auto 0 auto;
  padding: 40px 80px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.20), 10px 5px 0 -4px #fff, 10px 5px 10px -4px rgba(0,0,0,0.10);
  box-shadow: 0 0 10px rgba(0,0,0,0.20), 10px 5px 0 -4px #fff, 10px 5px 10px -4px rgba(0,0,0,0.10);
  font-family: Shanti, sans-serif;
  color: #707080;
  text-shadow: 0 1px 0 rgba(255,255,255,0.10);
}
.page.email .letter strong {
  font-weight: bold;
  font-family: Droid Sans;
}
.page.phone {
  text-align: left;
}
.page.phone h2.headline {
  padding-bottom: 40px;
}
.page.phone blockquote {
  padding: 20px 30px 20px 20px;
  background: #e6e6e6;
  border-left: solid 1px #ccc;
  border-top: solid 1px #ccc;
  width: 43%;
  float: left;
  margin: 0 30px 20px 0;
  font-family: Shanti, sans-serif;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #707080;
  text-shadow: 0 1px 0 rgba(255,255,255,0.60);
}
.page.phone blockquote.en {
  display: none;
}
.page.phone h3 {
  font-size: 1.2em;
  font-weight: bold;
}
.page.phone section.sub {
  overflow: hidden;
  padding: 20px 0;
  border-top: solid 1px #ddd;
}
.page.phone .sub.follow-up {
  text-align: center;
}
.page.phone .sub.follow-up h3 {
  margin-bottom: -10px;
}

