@import 'nib'

// ----------------------------------------------------------------------------

body
  background: #f6f6f4
  color: #505050

body, input, textarea, td, th
  font-family: Droid Sans, sans-serif
  font-weight: 400
  font-size: 11pt
  line-height: 1.5

html, body
  height: 100%

// ----------------------------------------------------------------------------

.page:nth-child(odd)
  background: #d3d3d0

.page
  box-sizing: border-box
  padding: 100px 0
  border-bottom: solid 1px #ddd

  > div
    width: 900px
    margin: 0 auto

  .headline
    font-size: 32pt
    text-align: center
    font-family: Montserrat, sans-serif
    font-weight: 400
    letter-spacing: -2px
    color: #707090

    em
      display: none

  h3, blockquote, p, ul, li
    margin: 20px 0

  blockquote > p
    margin: 0

// ----------------------------------------------------------------------------

.page.email
  &
    // Flush the letter to the bottom
    padding-bottom: 0

    overflow: hidden

  .info
    text-align: center
    width: 600px
    margin: 0 auto
    font-size: 1.1em

  // The letter itself
  .letter
    width: 500px
    margin: 40px auto 0 auto

    padding: 40px 80px
    background: white
    box-shadow: 0 0 10px rgba(black, 0.2), 10px 5px 0 -4px white, 10px 5px 10px -4px rgba(black, 0.1)

    font-family: Shanti, sans-serif

    color: #707080
    text-shadow: 0 1px 0 rgba(white, 0.1)

  .letter strong
    font-weight: bold
    font-family: Droid Sans

// ----------------------------------------------------------------------------

.page.phone
  text-align: left

  h2.headline
    padding-bottom: 40px

  blockquote
    padding: 20px 30px 20px 20px
    background: #e6e6e6
    border-left: solid 1px #ccc
    border-top: solid 1px #ccc

    width: 43%
    float: left
    margin: 0 30px 20px 0

    font-family: Shanti, sans-serif

    border-radius: 3px

    color: #707080
    text-shadow: 0 1px 0 rgba(white, 0.6)

  blockquote.en
    display: none

  // Section headings
  h3
    font-size: 1.2em
    font-weight: bold

  // Section
  section.sub
    overflow: hidden
    padding: 20px 0
    border-top: solid 1px #ddd

  // Follow up section
  .sub.follow-up
    text-align: center

    h3
      margin-bottom: -10px

