@import 'nib'

serif-font = Georgia, serif
default-font = Palatino, serif
headline-font = Montserrat, sans-serif
voice-font = Shanti, sans-serif
oswald-font = Oswald, sans-serif
bright-orange = #c42
cyanish = #4bd

// ----------------------------------------------------------------------------

body
  background: #f6f6f4
  color: #505050
  min-width: 960px

body, input, textarea, td, th
  font-family: default-font
  font-weight: 400
  font-size: 11pt
  line-height: 1.5

html, body
  height: 100%

// ----------------------------------------------------------------------------

.main-nav

  .fb
    padding: 20px
    position: fixed
    top: 0
    left: 0

// ----------------------------------------------------------------------------

.page
  box-sizing: border-box
  padding: 100px 0
  border-bottom: solid 1px #ddd

  > div
    width: 900px
    margin: 0 auto

  .headline
    font-size: 32pt
    text-align: center
    font-family: headline-font
    font-weight: 400
    letter-spacing: -2px
    color: #707090

    em
      display: none

  h3, blockquote, p, ul, li
    margin: 20px 0

  blockquote > p
    margin: 0

  .info
    text-align: center
    width: 600px
    margin: 0 auto
    font-size: 1.2em

// ----------------------------------------------------------------------------

.action a
  color: white
  background: bright-orange
  text-decoration: none
  padding: 5px 30px
  display: inline-block

  font-family: oswald, sans-serif
  text-transform: uppercase
  font-size: 12pt

  border-radius: 2px

  -webkit-font-smoothing: antialiased
  text-shadow: 0 1px 0 rgba(black, 0.3)

  line-height: 1.5

  &:hover, .title &
    background-color: #c42 * 1.1
    background: linear-gradient(top, #c42 * 1.1, #c42 * 0.9)
    box-shadow: 0 2px 5px rgba(black, 0.2), inset 0 -1px 0 rgba(black, 0.1)

  &:active
    background: #222

  &:after
    content: '\25b6'
    font-size: 0.7em
    margin-left: 7px
    opacity: 0.65

    position: relative
    top: -3px


// ----------------------------------------------------------------------------

.page.title
  &
    background: #404040
    text-shadow: 0 2px 0 rgba(black, 0.2), 0 1px 0 rgba(black, 0.1)
    color: #aaa
    border-bottom: 0
    padding: 200px 0

  > div
    width: 700px
    overflow: hidden

  h1.headline, p
    float: left
    width: 50%
    box-sizing: border-box

  h1.headline
    color: white
    font-size: 36pt
    line-height: 1.2

    padding-right: 20px
    padding-top: 11px

    text-align: right

  p
    padding-left: 20px
    font-size: 1.2em

  p.action
    width: 100%
    clear: both
    text-align: center

    a
      font-size: 1.4em
      padding: 8px 50px

// ----------------------------------------------------------------------------

.page.understand
  &
    background: #202020
    color: #aaa
    text-shadow: 0 1px 0 rgba(black, 0.2)

  .headline
    font-size: 20pt
    color: #ddd
    display: none

  a
    color: #888
    text-decoration: none

  .info
    font-size: 1.9em
    line-height: 1.3

  // Read up!
  .info strong
    color: #fff
    display: block
    font-weight: bold
    font-size: 1.4em
    font-family: headline-font
    letter-spacing: -2px
    margin-bottom: 3px

  li > a:first-child
    font-weight: bold
    display: block

    font-family: oswald-font
    text-transform: uppercase
    margin-bottom: 5px

    font-size: 1.5em

    color: bright-orange

    &:hover
      color: bright-orange * 1.4

  ul
    margin-top: 40px
    overflow: hidden
    font-size: 0.9em

  li
    margin-top: 20px
    box-sizing: border-box
    display: block

    text-align: center

    float: left
    width: 33%
    padding: 0 25px

// ----------------------------------------------------------------------------

.page.email
  &
    background: #d3d3d0 * 1.1
    text-shadow: 0 1px 0 rgba(white, 0.5)

    // Flush the letter to the bottom
    padding-bottom: 0

    overflow: hidden

  .headline
    color: cyanish

  // The letter itself
  .letter
    width: 500px
    margin: 40px auto 0 auto

    padding: 40px 80px
    background: white
    box-shadow: 0 0 10px rgba(black, 0.2), 10px 5px 0 -4px white, 10px 5px 10px -4px rgba(black, 0.1)

    font-family: voice-font

    color: #707080
    text-shadow: 0 1px 0 rgba(white, 0.1)

  .letter strong
    font-weight: bold
    font-family: default-font

    font-size: 1.2em

  .letter .action
    margin-top: 60px
    text-align: center

// ----------------------------------------------------------------------------

.page.phone
  text-align: left

  .info
    padding-bottom: 40px

  blockquote
    box-sizing: border-box

    padding: 20px 40px 20px 50px
    background: #e6e6e6
    border-left: solid 1px #ccc
    border-top: solid 1px #ccc

    width: 48%
    float: left
    margin: 0 30px 20px 0

    font-family: voice-font

    border-radius: 3px

    color: #707080
    text-shadow: 0 1px 0 rgba(white, 0.6)

    position: relative

  blockquote p:first-line
    font-weight: bold
    letter-spacing: -1px
    color: #707080 * 0.5

  blockquote:before
    content: '\201c'
    display: block
    font-size: 36pt
    font-family: serif-font

    height: 20px
    line-height: 20px
    width: 30px
    text-align: left

    float: left
    margin: 10px 0 0 -30px

    opacity: 0.5

  blockquote.en
    display: none

  // Section headings
  h3
    font-size: 1.2em
    font-weight: bold

  // Section
  section.sub
    overflow: hidden
    padding: 20px 0
    border-top: solid 1px #ddd

  // Follow up section
  .sub.follow-up
    text-align: center
    font-size: 1.1em

    h3
      font-size: 1.4em
      margin-bottom: -15px

    .action
      margin-top: 30px

// ----------------------------------------------------------------------------

.page.write
  &
    background: #d3d3d0 * 1.1

  .map
    overflow: hidden
    text-align: right
    font-size: 1.1em

  h2.headline
    font-size: 26pt
    text-align: right
    color: cyanish

  .map iframe
    float: right
    margin-left: 50px
    box-shadow: 0 0 10px rgba(black, 0.2)
    border: solid 10px white

// ----------------------------------------------------------------------------

.page.senators
  padding: 20px 0

.senators .list
  overflow: hidden

article.senator
  .card
    border: solid 2px #fcfcfc
    background: white
    overflow: hidden
    box-shadow: 0 0 5px rgba(black, 0.2)
  float: left
  width: 45%
  margin: 20px

  box-sizing: border-box

  label, ul
    font-family: sans-serif

  // Name!
  h2
    padding: 20px 30px
    font-family: Oswald, sans-serif
    font-size: 2em
    font-weight: bold
    text-align: center
    color: #707080

  h2, .section
    box-shadow: inset 0 -8px 6px -6px rgba(black, 0.05)

  .section
    padding: 20px
    padding-right: 60px
    border-top: dotted 1px #e7e7e7
    overflow: hidden

  .section:nth-child(odd)
    background: #fafafa

  // Labels
  .section > label
    width: 80px
    float: right
    margin-right: -40px
    text-align: right

    font-family: voice-font
    letter-spacing: -1px
    font-weight: bold
    font-size: 0.9em
    line-height: 1.4

    color: #a0a0b0

  ul
    margin: 0
    padding: 0
    font-size: 0.85em
    font-family: voice-font
    text-shadow: 0 1px 0 rgba(white, 0.6)

  li
    margin: 0
    padding-left: 24px
    min-height: 24px

  a, a:visited
    color: cyanish * 0.9
    text-decoration: none
    display: block
    padding: 1px
    border-radius: 1px

  a:hover
    color: cyanish * 0.4

  .pre:before
    content: ''
    color: #ccc
    margin-right: 10px
    font-size: .9em
    width: 16px
    height: 16px
    display: inline-block
    margin-left: -24px

    position: relative
    top: 3px

  // Tags
  small
    color: #999
    font-size: 0.8em
    background: #eee
    padding: 1px 5px
    border-radius: 2px
    box-shadow: 1px 1px #e3e3e3

    margin-left: 3px

  .twitter:before
    background: url(twitter.png)

  .email:before
    background: url(email.png)

  .facebook:before
    background: url(facebook.png)

  .site:before
    background: url(link.png)

  .youtube:before
    background: url(youtube.png)
